
.Table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}

.Table-card {
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.Table-title {
  background-color: var(--nucolor);
  padding: 14px;
  
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.Table tr > th:first-of-type,
.Table tr > td:first-of-type {
  text-align: left;
}

.Table th {
  font-weight: 600;
}

.Table tr {
  height: 48px;
  text-align: right;
  border: 1px solid #f5f5f5;
}

.Table tr > * {
  padding: 0 12px;
  height: 42px;
}
