body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.depth-1 {
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.3);
}

.depth-2 {
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
}
